.mission {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border: solid 0.5px rgb(255, 245, 245);
}

.backgrd {
  background-color: rgb(255, 245, 245);
}

.name {
  padding: 20px;
}

.description {
  margin-right: 10px;
  border-right: solid 1px lightgrey;
  border-left: solid 1px lightgrey;
  padding: 20px;
}
